.cgpa {
    background-color: #254D70;
    color: white;
    padding: 8px;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
}
.subject {
    margin: 8px 0px;
    background-color: #131d4f;
    color: white;
    padding: 8px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.subject input {
    min-width: 0;
    width: auto;
    flex: unset;
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
    color: #EFE4D2;
}

.subject button {
    background: none;
    color:  red;
}

.subject select {
    min-width: 0;
    width: auto;
    flex: unset;
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
    color: #EFE4D2;
}

.addsem:hover {
    background-color: #254D70;
    color: #EFE4D2;
}
