
/* Container for items */
.things {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  margin: 5px 10px;
}

/* Each item in the container */
.things > div {
  flex: 1 1 300px;
  min-width: 250px;
}

/* Individual 'thing' styling */
.thing {
  /* border: 3px solid #254D70; */
  border-radius: 10px;
  margin-top: 10px;
  min-height: 85vh;
  max-height: 85vh;
  overflow-y: auto;
  /* background-color: #EFE4D2; */
  background-color: #954C2E;
}

/* Responsive: Stack vertically and fully expand 'thing' height on small screens */
@media (max-width: 768px) {
  .things {
    flex-direction: column;
  }

  .thing {
    max-height: none;
    height: auto;
  }
}
