* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #EFE4D2;
    color: 254D70;
    font-family: monospace, Arial, Helvetica, sans-serif;
}

header {
    top: 0;
    right: 0;
    padding: 20px;
    z-index: 10;
    height: 10vh;
}

a{
    text-decoration: none;
}

h1 {
    margin: 0;
    font-size: 24px;
    color: #254D70;
    font-weight: bolder;
}

h2 {
    font-size: 20px;
    margin: 10px 0;
}

.list-item {
    background-color: #EFE4D2;
    margin: 8px;
    padding: 8px;
    border-radius: 10px;
    color: #254D70;
}

.delete {
    text-decoration: none;
    background-color: #254D70;
    border: none;
    color: white;
    padding: 6px 12px;
    border-radius: 100px;
    cursor: pointer;
    outline: none;
}

.addthing {
    width: 100%;
    text-decoration: none;
    background-color: #254d70;
    border: none;
    color: white;
    padding: 6px 12px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;

}

